@model his.Models.DocumentMappingModel

<!-- Breadcrumb -->
<div class="page-header">
    <h3 class="fw-bold mb-3">Xoá ánh xạ</h3>
    <ul class="breadcrumbs mb-3">
        <li class="nav-home">
            <a href="/">
                <i class="icon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <a href="/documentmapping">Cấu hình tờ phiếu</a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Xóa ánh xạ tờ phiếu HIS - EMR</div>
            </div>
            <div class="card-body">
                <div>Bạn có chắc chắn muốn xoá ánh xạ này không?</div>
                <div><strong>@Model.CodeHIS</strong> - <strong>@Model.CodeEMR</strong></div>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i>Xoá</button>
                    <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-undo-alt"></i> Huỷ</a>
                </form>
            </div>
        </div>
    </div>
</div>
