.logo {
    font-size: 26px;
    font-weight: 700;
    color: #ffffff!important;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    display: inline-block;
}
    .logo:hover {
        opacity: 0.85;
    }
.scrollbar {
    max-height: 300px;
    overflow-y: auto;
}